<div class="col-md-offset-2 col-md-8 text-xs-center">
<p><strong>Star Roamer</strong> aim to give you better route through the star
and accurate time of arrival.
</p>
<p>How better? It depend of what you are flying and where you are flying it.
The idea is to take into account that each solar system is unique. <br>
Some bright, other dark.<br>
Some busy, other empty.<br>
Some <em>huge</em>, other <em>tiny</em>.
</p>
<p>Do you know how huge these can get ? How long can be the trip between two
stargate ? If you have experienced the loneliness of piloting a freighter
inside on of these behemoth, you might understand how a detour using small 
system can be a better route.
</p>
</div>
