<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<meta http-equiv=x-ua-compatible content=ie=edge>
<title>Star Roamer{% if title %}: {{ title }}{% endif %}</title>

<link rel=stylesheet
	href="{{ url_for('static', filename='css/bootstrap.css') }}">

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
{% block script %}{% endblock %}

<style>
	body {
		background-color: #111;
	}
	body > .jumbotron {
		background: url("{{ url_for('static',
			filename='img/fenrir_by_callmeroth.png') }}")
			no-repeat center center;
		background-size: 100vw auto;
		height: 20vw;
	}
	#api_header strong {
		display: inline-block;
		width: 150px;
		overflow: hidden;
	}
	#annu h3 {
		overflow: hidden;
	}
	#annu .list-group-item:hover {
		cursor: pointer;
		background: #ddd;
	}
</style>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<h1 class="navbar-brand m-a-0 p-a-0">
		<a class="navbar-brand" style="line-height: 32px" href="/">
			<img alt=freighter_icon class="pull-xs-left p-r-1"
				src="{{ url_for("static", filename="img/freighter.png") }}">
			Star Roamer
		</a>
	</h1>
	<menu class="nav navbar-nav m-t-0">
		<li class="nav-item">
			<a class="nav-link " href="">Test</a>
		<li class="nav-item pull-xs-right">
			<a class="nav-link" style="padding: 5px 0"
				href="{{ url_for("auth.start") }}">
				<img alt="EVE SSO" src="{{ url_for("static",
					filename="img/EVE_SSO_Login_Buttons_Small_Black.png") }}">
			</a>
	</menu>
</nav>

<header class="jumbotron jumbotron-fluid m-t-3 m-b-0">
</header>

<main class="container p-t-1">
	{% block main %}&nbsp;{% endblock %}
</main>
